* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.navbar {
  max-width: 1330px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  font-family: "Rubik", sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
}
.navbar__img {
  width: 150px;
}
.navbar__img img {
  width: 100%;
  height: 100%;
}
.navbar__links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
.navbar__links a {
  text-decoration: none;
  color: #010103;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}
.navbar__links a:hover {
  color: #ff4d30;
}
.navbar__links a.active {
  color: #ff4d30;
}
@media (max-width: 1000px) {
  .navbar__links {
    display: none;
  }
}
.navbar__buttons {
  display: flex;
  gap: 1.75rem;
  font-weight: 500;
  align-items: center;
}
.navbar__buttons__sign-in {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: #010103;
  transition: all 0.3s;
}
.navbar__buttons__sign-in:hover {
  color: #ff4d30;
}
.navbar__buttons__register {
  cursor: pointer;
  color: #ffffff;
  border: none;
  background-color: #ff4d30;
  padding: 0.75rem 1.75rem;
  border-radius: 5px;
  transition: all 0.3s;
}
.navbar__buttons__register:hover {
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
}
@media (max-width: 1000px) {
  .navbar__buttons {
    display: none;
  }
}

.mobile__navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -100%;
  top: 0;
  gap: 2rem;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
}
.mobile__navbar__close {
  position: absolute;
  top: 40px;
  right: 25px;
}
.mobile__navbar__close:hover {
  color: #ff4d30;
}
.mobile__navbar__links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}
.mobile__navbar__links a {
  text-decoration: none;
  color: #010103;
  cursor: pointer;
}
.mobile__navbar__links a:hover {
  color: #ff4d30;
}
.mobile__navbar__links a.active {
  color: #ff4d30;
}
@media (min-width: 1000px) {
  .mobile__navbar {
    display: none;
  }
}

.open {
  left: 0;
}

.mobile-hamburger {
  display: none;
}
.mobile-hamburger:hover {
  color: #ff4d30;
}
@media (max-width: 1000px) {
  .mobile-hamburger {
    display: block;
  }
}

.banner {
  position: relative;
  background: url("src/images/banners/book-banner.png") center;
  height: 11rem;
  display: flex;
  align-items: center;
}
@media (max-width: 750px) {
  .banner {
    height: -moz-fit-content;
    height: fit-content;
    padding-block: 0.75rem;
  }
}
.banner__overlay {
  background-color: #2d2d2d;
  opacity: 0.89;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.text-context {
  display: flex;
  z-index: 5;
  position: relative;
  align-items: center;
  gap: 2.5rem;
  height: 11rem;
}
@media (max-width: 750px) {
  .text-context {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
}
.text-context h2 {
  color: #ffffff;
  font-size: 2rem;
}
.text-context span {
  display: flex;
  color: #ff4d30;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}
.text-context span h2 {
  font-size: 2rem;
  color: #ff4d30;
}

.hero-section {
  height: 100vh;
  background-color: #f8f8f8;
}

.bg-shape {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 800px) {
  .bg-shape {
    display: none;
  }
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}
@media (max-width: 800px) {
  .hero-content {
    justify-content: center;
    text-align: center;
  }
}
.hero-content__text {
  z-index: 3;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 1.25rem;
  font-family: "Rubik", sans-serif;
}
.hero-content__text h3 {
  font-size: 1.5rem;
  color: #010103;
}
.hero-content__text h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  color: #010103;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 500px) {
  .hero-content__text h1 {
    font-size: 2.5rem;
  }
}
.hero-content__text h1 span {
  color: #ff4d30;
}
.hero-content__text p {
  color: #706f7b;
}
.hero-content__text__buttons {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .hero-content__text__buttons {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .hero-content__text__buttons {
    flex-direction: column;
    align-items: center;
  }
}
.hero-content__text__buttons__book-ride {
  background-color: #ff4d30;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  font-weight: 500;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 500px) {
  .hero-content__text__buttons__book-ride {
    padding: 1.25rem 3rem;
  }
}
.hero-content__text__buttons__book-ride:hover {
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.5);
}
.hero-content__text__buttons__learn-more {
  background-color: #010103;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  font-weight: 500;
  border: 1px solid #010103;
  cursor: pointer;
}
@media (max-width: 500px) {
  .hero-content__text__buttons__learn-more {
    padding: 1.25rem 2.8rem;
  }
}
.hero-content__text__buttons__learn-more:hover {
  background-color: #ffffff;
  color: #010103;
}
.hero-content__car-img {
  z-index: 2;
  position: absolute;
  right: 0;
  width: 65%;
  margin-top: 5rem;
}
@media (max-width: 800px) {
  .hero-content__car-img {
    display: none;
  }
}

.scroll-up {
  font-size: 1.5rem;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  color: #ffffff;
  background-color: #ff4d30;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.75rem;
}

.hide-scroll {
  display: none;
}

.modal-active {
  display: block !important;
}

.book-section {
  background: linear-gradient(180deg, #f8f8f8 20%, #fff 80%);
}

.book-content {
  background: url("/src/images/book-car/book-bg.png") center no-repeat;
  background-color: #ffffff;
  background-size: cover;
  padding: 2rem 3rem 3rem 3rem;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.book-content h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.book-content p {
  display: none;
}
.book-content__error {
  color: #ff0000;
  font-weight: 600;
  margin-bottom: 1rem;
  display: block !important;
}
.book-content__succes {
  color: #4bb543;
  font-weight: 600;
  margin-bottom: 1rem;
  display: block !important;
}
.book-content .box-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
@media (max-width: 900px) {
  .book-content .box-form {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .book-content .box-form {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
.book-content .box-form__car-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-content .box-form__car-details label {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.book-content .box-form__car-details label span {
  color: #ff4d30;
}
.book-content .box-form__car-details select {
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  padding: 0.75rem 1rem;
}
.book-content .box-form__car-time {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.book-content .box-form__car-time label {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.book-content .box-form__car-time label span {
  color: #ff4d30;
}
.book-content .box-form__car-time input {
  font-family: "Rubik", sans-serif;
  border-radius: 5px;
  padding: 0.75rem 1rem;
}
.book-content .box-form button {
  background-color: #ff4d30;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  align-self: end;
  padding-block: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
}
.book-content .box-form button:hover {
  box-shadow: 0 10px 15px rgba(255, 83, 48, 0.35);
}

.booking-modal {
  position: fixed;
  z-index: 999999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
  width: 850px;
  height: 95vh;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ff4d30 #ffffff;
}
.booking-modal::-webkit-scrollbar {
  width: 10px;
}
.booking-modal::-webkit-scrollbar-thumb {
  background-color: #ff4d30;
  border-radius: 20px;
}
.booking-modal*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}
@media (max-width: 860px) {
  .booking-modal {
    width: 95%;
  }
}
.booking-modal__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff4d30;
  color: #ffffff;
  padding: 0.5rem 1rem;
}
.booking-modal__title h2 {
  text-transform: uppercase;
}
.booking-modal__message {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #ffeae6;
  padding: 1rem 1.5rem;
}
.booking-modal__message h3 {
  color: #ff4d30;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.booking-modal__message p {
  color: #706f7b;
}
.booking-modal__car-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid hsla(0, 0%, 47%, 0.624);
  padding: 1.5rem;
}
@media (max-width: 700px) {
  .booking-modal__car-info {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
.booking-modal__car-info__details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 700px) {
  .booking-modal__car-info__details {
    align-items: center;
    grid-row: 2;
    gap: 1rem;
  }
}
.booking-modal__car-info__details h4 {
  color: #ff4d30;
  font-size: 1.25rem;
}
.booking-modal__car-info__details__section {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.booking-modal__car-info__details__section h5 {
  font-size: 1rem;
}
.booking-modal__car-info__model h4 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.booking-modal__car-info__model h4 span {
  color: #ff4d30;
}
.booking-modal__car-info__model img {
  width: 100%;
}
@media (max-width: 700px) {
  .booking-modal__car-info__model img {
    width: 85%;
  }
}
.booking-modal__personal-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.booking-modal__personal-info h4 {
  color: #ff4d30;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.booking-modal__personal-info__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.booking-modal__personal-info__form__2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 4rem;
}
@media (max-width: 700px) {
  .booking-modal__personal-info__form__2col {
    grid-template-columns: 1fr;
  }
}
.booking-modal__personal-info__form__2col div {
  display: flex;
  flex-direction: column;
}
.booking-modal__personal-info__form__2col div label {
  font-weight: 600;
}
.booking-modal__personal-info__form__2col div label span {
  color: #ff4d30;
}
.booking-modal__personal-info__form__2col div input {
  background-color: #dbdbdb;
  border: none;
  padding: 0.75rem 0.75rem;
  border-radius: 5px;
  caret-color: #ff4d30;
}
.booking-modal__personal-info__form__2col div p {
  font-size: 0.75rem;
  color: #706f7b;
}
.booking-modal__personal-info__form__1col {
  display: grid;
  grid-template-columns: 1fr;
}
.booking-modal__personal-info__form__1col div {
  display: flex;
  flex-direction: column;
}
.booking-modal__personal-info__form__1col div label {
  font-weight: 600;
}
.booking-modal__personal-info__form__1col div label span {
  color: #ff4d30;
}
.booking-modal__personal-info__form__1col div input {
  background-color: #dbdbdb;
  border: none;
  padding: 0.75rem 0.75rem;
  border-radius: 5px;
  caret-color: #ff4d30;
}
.booking-modal__personal-info__form__1col div p {
  font-size: 0.75rem;
  color: #706f7b;
}
.booking-modal__personal-info__form button {
  align-self: end;
  background-color: #ff4d30;
  border: none;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  padding: 0.75rem 4rem;
  cursor: pointer;
  transition: all 0.3s;
}
@media (max-width: 700px) {
  .booking-modal__personal-info__form button {
    align-self: center;
  }
}
.booking-modal__personal-info__form button:hover {
  box-shadow: 0 10px 15px rgba(255, 83, 48, 0.35);
}

.plan-section {
  background-color: #ffffff;
  margin-top: 6rem;
}

.plan-content__title {
  text-align: center;
}
.plan-content__title h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.plan-content__title h2 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}
.plan-content__cards {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 900px) {
  .plan-content__cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .plan-content__cards {
    grid-template-columns: 1fr;
    margin-top: 2rem;
    gap: 0;
  }
}
.plan-content__cards__content {
  text-align: center;
  padding: 1rem clamp(2rem, 4vw, 5rem);
}
.plan-content__cards__content img {
  width: 170px;
}
.plan-content__cards__content h3 {
  font-size: 1.5rem;
  white-space: nowrap;
}/*# sourceMappingURL=styles.css.map */